main {
  box-sizing: border-box;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;

  a {
    text-decoration: none;
    font-size: large;
    color: rgb(58, 37, 193);
  }

  a.active {
    font-weight: 600;
    color: rgb(3, 2, 20);
    border-bottom: 1px solid black;
  }
}

button {
  padding: 7px 10px;
  background-color: rgb(121, 0, 168);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  transform: translate(0, -1px);
  box-shadow: 1px 2px 5px gray;
}

#post {
  border: 1px solid gray;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: beige;
}

#marker {
  background-color: red;
  height: 5px;
}

#loading-div {
  height: 100vh;
}

#loading-div p {
  text-align: center;
  margin-top: 20%;
}

.dark {
  background-color: rgb(22, 22, 36);
  color: beige;

  a {
    color: aqua;
  }

  a.active {
    color: orange;
    border-color: orange;
  }

  button {
    background-color: aquamarine;
    color: red;
  }
}

.dark #post {
  border: 1px solid gray;
  color: black;
}
